############
# Network  #
############
export POSTGRESQL_EXPOSED_PORT=5435
export POSTGRESQL_HOST_NAME=localhost

############
# Roles    #
############

# Administrator
export POSTGRESQL_USER_NAME=user
export POSTGRESQL_USER_PASSWORD=password

############
# Database #
############
export POSTGRESQL_DATABASE_NAME=database
export POSTGRESQL_FLIGHT_DATABASE_NAME=flight

############
# Compose  #
############
export CONTAINER_NAME=postgresql-practice

############
# Client   #
############
export CLIENT_APPLICATION_NAME=practice

# Connexion
export CONNECTION_STRING=`echo host=$POSTGRESQL_HOST_NAME port=$POSTGRESQL_EXPOSED_PORT dbname=$POSTGRESQL_DATABASE_NAME user=$POSTGRESQL_USER_NAME password=$POSTGRESQL_USER_PASSWORD application_name=$CLIENT_APPLICATION_NAME`;
export CONNECTION_STRING_FLIGHT=`echo host=$POSTGRESQL_HOST_NAME port=$POSTGRESQL_EXPOSED_PORT dbname=$POSTGRESQL_FLIGHT_DATABASE_NAME user=$POSTGRESQL_USER_NAME password=$POSTGRESQL_USER_PASSWORD application_name=$CLIENT_APPLICATION_NAME`;
export CONNECTION_STRING_JDBC=`echo "jdbc:postgresql://$POSTGRESQL_HOST_NAME:$POSTGRESQL_EXPOSED_PORT/$POSTGRESQL_FLIGHT_DATABASE_NAME?user=$POSTGRESQL_USER_NAME&password=$POSTGRESQL_USER_PASSWORD"`;

############
# pgbench   #
############

export PGHOST=`echo $POSTGRESQL_HOST_NAME`
export PGPORT=`echo $POSTGRESQL_EXPOSED_PORT`
export PGUSER=`echo $POSTGRESQL_USER_NAME`
export PGPASSWORD=`echo $POSTGRESQL_USER_PASSWORD`
export PGDATABASE=flight