############
# Network  #
############
export POSTGRESQL_EXPOSED_PORT=5434
export POSTGRESQL_HOST_NAME=localhost

############
# Roles    #
############

# Administrator
export POSTGRESQL_USER_NAME=user
export POSTGRESQL_USER_PASSWORD=password

############
# Database #
############
export POSTGRESQL_DATABASE_NAME=database

############
# Internals  #
############
export POSTGRESQL_IMAGE_VERSION=18
export POSTGRESQL_INTERNAL_PORT=5432

############
# Resources  #
############
export POSTGRESQL_CPU_COUNT=1
#export POSTGRESQL_CPU_COUNT=10
export POSTGRESQL_TOTAL_MEMORY_SIZE=500Mb

############
# Client   #
############
export CLIENT_APPLICATION_NAME=performance-test

# Connexion
export CONNECTION_STRING=`echo host=$POSTGRESQL_HOST_NAME port=$POSTGRESQL_EXPOSED_PORT dbname=$POSTGRESQL_DATABASE_NAME user=$POSTGRESQL_USER_NAME password=$POSTGRESQL_USER_PASSWORD application_name=$CLIENT_APPLICATION_NAME`;
export CONNECTION_STRING_JDBC=`echo "jdbc:postgresql://$POSTGRESQL_HOST_NAME:$POSTGRESQL_EXPOSED_PORT/$POSTGRESQL_DATABASE_NAME?user=$POSTGRESQL_USER_NAME&password=$POSTGRESQL_USER_PASSWORD"`;

############
# pgbench   #
############

export PGHOST=`echo $POSTGRESQL_HOST_NAME`
export PGPORT=`echo $POSTGRESQL_EXPOSED_PORT`
export PGUSER=`echo $POSTGRESQL_USER_NAME`
export PGPASSWORD=`echo $POSTGRESQL_USER_PASSWORD`
export PGDATABASE=`echo $POSTGRESQL_DATABASE_NAME`