############
# Roles    #
############

# Administrator
export POSTGRESQL_USER_NAME=user
export POSTGRESQL_USER_PASSWORD=password

############
# Database #
############
export POSTGRESQL_DATABASE_NAME=database

############
# Network  #
############
export POSTGRESQL_EXPOSED_PORT=5435

############
# Compose  #
############
export CONTAINER_NAME=postgresql-practice

############
# Client   #
############
export CLIENT_APPLICATION_NAME=practice

# Connexion
export CONNECTION_STRING=`echo host=localhost port=$POSTGRESQL_EXPOSED_PORT dbname=$POSTGRESQL_DATABASE_NAME user=$POSTGRESQL_USER_NAME password=$POSTGRESQL_USER_PASSWORD application_name=$CLIENT_APPLICATION_NAME`;
export CONNECTION_STRING_FLIGHT=`echo host=localhost port=$POSTGRESQL_EXPOSED_PORT dbname=flight user=$POSTGRESQL_USER_NAME password=$POSTGRESQL_USER_PASSWORD application_name=$CLIENT_APPLICATION_NAME`;

############
# pgbench   #
############

export PGHOST=localhost
export PGPORT=`echo $POSTGRESQL_EXPOSED_PORT`
export PGUSER=`echo $POSTGRESQL_USER_NAME`
export PGPASSWORD=`echo $POSTGRESQL_USER_PASSWORD`
export PGDATABASE=flight